<h2 class="submission-title">Submissions</h2>

<div class="controls mat-elevation-z2" style="display: flex; flex-wrap: wrap; gap: 5rem; align-items: center;">
  <!-- Search Input -->
  <mat-form-field appearance="outline" class="filter-item" style="border-radius: 8px; width: 180px; ">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search submissions..." [(ngModel)]="searchQuery">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!-- Select Form -->
  <mat-form-field  appearance="outline" class="filter-item" style="border-radius: 8px; background-color: white; width: 180px;">
    <mat-label>Select Form</mat-label>
    <mat-select [(value)]="selectedForm">
      <mat-option *ngFor="let form of forms" [value]="form">{{ form }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Select Status -->
  <mat-form-field appearance="outline" class="filter-item" style="border-radius: 8px; background-color: white; width: 180px;">
    <mat-label>Select Status</mat-label>
    <mat-select [(value)]="selectedStatus">
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Date Picker -->
  <mat-form-field appearance="outline" class="filter-item" style="border-radius: 8px; background-color: white; width: 180px;">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Map/List Toggle -->
   
  <mat-button-toggle-group
    [(ngModel)]="currentView"
    (change)="toggleView(currentView)"
    class="view-toggle"
    
    style="border-radius: 8px; width: 180px; background-color: white; display: flex; align-items: center; justify-content: center; margin-bottom: 20px;"
  >
    <mat-button-toggle
      value="map"
      [ngClass]="{ 'active-toggle': currentView === 'map' }"
      style="color: #2188D9; border-radius: 8px; flex: 1; display: flex; justify-content: center; align-items: center; height: 56px; width: 100%; text-align: center;"
    >Map</mat-button-toggle>
    <mat-button-toggle
      value="list"
      [ngClass]="{ 'active-toggle': currentView === 'list' }"
      style="color: #2188D9; border-radius: 8px; flex: 1; display: flex; justify-content: center; align-items: center; height: 56px; width: 100%; text-align: center;"
    >List</mat-button-toggle>
  </mat-button-toggle-group>

  <!-- Export Button -->
  <button mat-button color="primary" (click)="exportData()" style="height: 56px; margin-bottom: 20px;">
    <mat-icon>download</mat-icon> Export
  </button>
  
</div>

<div class="view-container">
  <app-list-view *ngIf="currentView === 'list'" [submissions]="filteredSubmissions"></app-list-view>
  <app-map-view *ngIf="currentView === 'map'" [submissions]="filteredSubmissions"></app-map-view>
</div>

